﻿@model VegPatchDev1.PlantData

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlantData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedGrowthTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpectedGrowthTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAWeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAWeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HarvestInstructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HarvestInstructions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HarvestType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HarvestType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantInstructions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantInstructions)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
