﻿@model VegPatchDev1.PlantData

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PlantData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="PlantName" class="control-label"></label>
                <input asp-for="PlantName" class="form-control" />
                <span asp-validation-for="PlantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantDescription" class="control-label"></label>
                <textarea asp-for="PlantDescription" class="form-control"></textarea>
                <span asp-validation-for="PlantDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedGrowthTime" class="control-label"></label>
                <input asp-for="ExpectedGrowthTime" class="form-control" />
                <span asp-validation-for="ExpectedGrowthTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAWeed" /> @Html.DisplayNameFor(model => model.IsAWeed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HarvestInstructions" class="control-label"></label>
                <textarea asp-for="HarvestInstructions" class="form-control"></textarea>
                <span asp-validation-for="HarvestInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HarvestType" class="control-label"></label>
                <select asp-for="HarvestType" asp-items="@Html.GetEnumSelectList(typeof(HarvestTypes))" class="form-control"></select>
                <span asp-validation-for="HarvestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantInstructions" class="control-label"></label>
                <textarea asp-for="PlantInstructions" class="form-control"></textarea>
                <span asp-validation-for="PlantInstructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
