﻿@model IEnumerable<VegPatchDev1.PlantData>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlantName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlantDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpectedGrowthTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAWeed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HarvestInstructions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HarvestType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlantInstructions)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedGrowthTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAWeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarvestInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarvestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantInstructions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
