﻿@model VegPatchDev1.Models.PlotShow

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GardenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GardenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlotArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlotArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialSeedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialSeedCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
