﻿@model VegPatchDev1.Plot

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Plot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GardenID" class="control-label"></label>
                <select asp-for="GardenID" asp-items="await Extensions.DropDownLists.GetGardenDropListAsync(User)" class="form-control"></select>
                <span asp-validation-for="GardenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantID" class="control-label"></label>
                <select asp-for="PlantID" asp-items="await Extensions.DropDownLists.GetPlantDropListAsync()" class="form-control"></select>
                <span asp-validation-for="PlantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlotArea" class="control-label"></label>
                <input asp-for="PlotArea" class="form-control" />
                <span asp-validation-for="PlotArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialSeedCount" class="control-label"></label>
                <input asp-for="InitialSeedCount" class="form-control" />
                <span asp-validation-for="InitialSeedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
