﻿@model VegPatchDev1.Garden

@{
    ViewData["Title"] = "Create";
    bool? nameExists = (bool?) ViewData["NameExists"];
}

<h2>Create</h2>

<h4>Garden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <desc asp-for="Name"></desc>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">@if (nameExists != null && nameExists.Value) { <span> Garden name already in use for this account. </span> }</span>
            </div>
            <input type="hidden" asp-for="UserID" value="id"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
