﻿@model VegPatchDev1.Models.AlarmShow

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PlantAlarms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlantName" class="control-label"></label>
                <desc asp-for="PlantName"></desc>
                <select asp-for="PlantID" asp-items="await Extensions.DropDownLists.GetPlantDropListAsync()" class="form-control"></select>
                <span asp-validation-for="PlantID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputTime" class="control-label"></label>
                <desc asp-for="InputTime"></desc>
                <input asp-for="InputTime" class="form-control" />
                <span asp-validation-for="InputTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlarmDetails" class="control-label"></label>
                <desc asp-for="AlarmDetails"></desc>
                <textarea asp-for="AlarmDetails" class="form-control"></textarea>
                <span asp-validation-for="AlarmDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <desc asp-for="TaskName"></desc>
                <select asp-for="AlarmTaskID" asp-items="await Extensions.DropDownLists.GetTaskDropDownListAsync()" class="form-control"></select>
                <span asp-validation-for="AlarmTaskID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
