﻿@model VegPatchDev1.Models.AlarmShow

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlantAlarms</h4>
    <hr />
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlarmTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlarmTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlarmDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlarmDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" asp-route-id="@Model.PlantID">Back to List</a>
    </form>
</div>
