﻿@model VegPatchDev1.Models.AlarmShow

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlantAlarms</h4>
    <hr />
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.PlantName)
        </dt>
        <dd class="text-info">
            @Html.DisplayDescriptionFor(model => model.PlantName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.PlantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InputTime)
        </dt>
        <dd class="text-info">
            @Html.DisplayDescriptionFor(model => model.InputTime)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.InputTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlarmDetails)
        </dt>
        <dd class="text-info">
            @Html.DisplayDescriptionFor(model => model.AlarmDetails)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.AlarmDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class="text-info">
            @Html.DisplayDescriptionFor(model => model.TaskName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.PlantID">Back to List</a>
</div>
